<h1>Categories</h1>
<!-- <div>
    <ul>
        <ng-container *ngFor="let item of currentCategoryList">
            <li [attr.category-id]="item.id">
                <div class="tag" [ngStyle]="{'background-color': this.categoryColorList[this.currentCategoryList.indexOf(item)]}">{{item.categoryName}}</div>
            </li>
        </ng-container>
        
    </ul>
</div> -->

<div class="categoryList">
    <ng-container *ngFor="let item of currentCategoryList">
        <button [attr.category-id]="item.id" [ngStyle]="{'background-color': this.categoryColorList[this.currentCategoryList.indexOf(item)]}">
            {{ item.categoryName }}
        </button>
    </ng-container>
</div>
