<div class="categoryList">
    <div *ngIf="currentCategoryList.length=== 0 ; else elseBlock">
        <p id="notfoundcategory"> No Categories</p>
    </div>

    <ng-template #elseBlock>
        <ng-container *ngFor="let item of currentCategoryList" >
            <button [attr.category-id]="item.id" [ngStyle]="{'background-color': this.categoryColorList[this.currentCategoryList.indexOf(item)]}">
                {{ item.categoryName }}
            </button>
        </ng-container>
    </ng-template>
  
</div>
