<!-- <nav class="navbar is-flex is-justify-content-space-between">
    <div class="navbar-menu is-active">
        <ul class="navbar-item is-align-items-flex-end">
            <li class="navbar-link" routerLinkActive="active-link"><a routerLink="/edit/visualization">Edit
                    Visualization</a></li>
            <li class="navbar-link" routerLinkActive="active-link"><a routerLink="/edit/curriculum">Edit Curricula</a>
            </li>
            <li class="navbar-link" routerLinkActive="active-link"><a routerLink="/edit/skill-category">Edit Skills &
                    Categories</a></li>
        </ul>
    </div>
    <div class="is-align-self-center">
        <img src="../../assets/images/rev_logo.png" class="brand-logo" alt="Revature Logo">
    </div>
</nav>
<hr class="navbar-divider"> -->

<nav class="navbar is-flex is-justify-content-space-between">
    <div class="navbar-brand">
        <img src="../../assets/images/rev_logo.png" class="brand-logo" alt="Revature Logo">
    </div>

    <div class="navbar-menu navbar-end is-active">
        <ul class="navbar-item">
            <li class="navbar-link" routerLinkActive="active-link"><a routerLink="/edit/visualization">Edit
                    Visualization</a></li>
            <li class="navbar-link" routerLinkActive="active-link"><a routerLink="/edit/curriculum">Edit
                    Curricula</a>
            </li>
            <li class="navbar-link" routerLinkActive="active-link"><a routerLink="/edit/skill-category">Edit Skills &
                    Categories</a></li>
        </ul>
    </div>
</nav>
<hr class="navbar-divider">