<div class="currriculumList">
    <div *ngIf="currentCurriculumList.length === 0">
        <p id="nocurriula">No Curricula </p>
    </div>
    <ng-container *ngFor="let curriculum of curriculumList; let idx = index">
        <label (click)="changeCurrentCurriculum(curriculum.curriculumId)">
            <input
                class="curriculum-button"
                type="radio"
                name="curriculum-input"
                value="{{ curriculum.curriculumName }}"
                [checked]="(idx === 0)"
            >
            <div class="button curriculum-button-input column leftColumn mb-0 is-full">
                <p>{{ curriculum.curriculumName }}</p>
            </div>
        </label>
    </ng-container>
</div>
