<app-navbar></app-navbar>

<fieldset class="container is-fluid containerflex borders">
    <legend>Curriculum</legend>
    <div class="columns columnheight row ">

        <!-- CURRICULUM-EDIT-LIST -->
        <fieldset class="column borders boxcolumn is-6-desktop is-12-mobile">
            <legend>Curriculum-Edit</legend>
            <ul class="listofcurriculum">
                <li *ngFor="let curriculum of curriculumList; let i = index">
                    <label class="curriculumLabel" for="curriculum_{{curriculum.curriculumId}}">
                        <input type="radio" id="curriculum_{{curriculum.curriculumId}}" [value]="curriculum"  name="curriculumList" [(ngModel)]="selectedCurriculum" (change)="displayCurriculum()"/>
                        {{ curriculum.curriculumName }}
                    </label>
                </li>
            </ul>
        </fieldset>
        <!-- CURRICULUM-EDIT-LIST -->

        <!-- SKILL-SELECT-LIST -->
        <fieldset class="column borders boxcolumn is-6-desktop is-12-mobile">
            <legend>Skill-Select</legend>
            <ul>
                <button class="button is-small btn-light-gray" (click)="resetSkillActive()">Clear Selection</button>
                <li *ngFor="let skill of skillList; let i = index">
                    <label class="skillLabel" for="skill_{{skill.skillId}}">
                        <input type="checkbox" id="skill_{{skill.skillId}}" [value]="skill" [checked]="skill.isActive" name="skillList" (change)="toggleSkill(skill.skillId)"/>
                        {{ skill.skillName }}
                    </label>
                </li>
            </ul>
        </fieldset>
        <!-- SKILL-SELECT-LIST -->

    </div>
    <div class="columns row">

        <!-- CURRICULUM-EDIT-BUTTONS -->
        <div class="column">
            <div class="editbottom">
                <div class="columns">
                    <div class="column">
                        <div class="buttons">
                            <div class="buttons">
                                <button id="addCurriculumButton" class="button is-small btn-add" [ngClass]="showAddCurriculum? 'is-active' : ''" (click)="toggleAddCurriculum()">Add Curriculum</button>
                                <button id="updateCurriculumButton" class="button is-small btn-update" [ngClass]="showUpdateCurriculum? 'is-active' : ''" (click)="toggleUpdateCurriculum()">Update Curriculum</button>
                                <button id="deleteCurriculumButton" class="button is-small has-background-danger" (click)="deleteCurriculum()">Remove</button>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <ng-container *ngIf="showCurriculumDeleteFail">
                            <p class="help has-text-danger">Please select a Curriculum to delete.</p>
                        </ng-container>
                        <ng-container *ngIf="showAddCurriculum">
                            <input id="addCurriculumTextBox" class="input add-input mb-1" placeholder="Curriculum Name" [(ngModel)]="curriculumNameAdd" />
                            <p class="help add-curriculum-help" *ngIf="curriculumNameAdd == '' || curriculumNameAdd == null">Please select a Name for this Curriculum</p>
                            <p class="help add-curriculum-help" *ngIf="selectedSkillList.length==0">Please select a Skill for this Curriculum</p>
                            <button id="submitAdd" class="button is-small btn-add" (click)="addCurriculum()">Submit</button>
                        </ng-container>
                        <ng-container *ngIf="showUpdateCurriculum">
                            <input id="updateCurriculumTextBox" class="input update-input mb-1" placeholder="Curriculum Name" [(ngModel)]="curriculumNameUpdate" />
                            <p class="help update-curriculum-help" *ngIf="curriculumNameUpdate == null">Please select a curriculum for update</p>
                            <button id="submitUpdate" class="button is-small btn-update" (click)="updateCurriculum()">Update</button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <!-- CURRICULUM-EDIT-BUTTONS -->

    </div>
</fieldset>