.skillList button {
    display: inline;
    list-style-type: none;
    padding: 3px 10px;
    padding-right: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    margin: 5px;
    text-align: center;
    overflow-wrap: break-word;
    width: auto;
    font-family: Futura-Heavy, sans-serif;
    font-size: 20px;
    transition: opacity 0.5s;
}

.skillList button:disabled {
    opacity: 60%;
}

.skillList {
    margin-bottom: 10px;
}

#noskills{
    margin-left: 14px;
}
