<!-- <div class="skillDiv">
    <ul class="navList">
        <button>Algorithms</button>
        <button>Angular</button>
        <button>Apache 2</button>
        <button>Apache 2</button>
        <button>Apache 2</button>
        <button>Apache 2</button>
        <button>Apache 2</button>
        <button>CSS</button>
        <button>Object Oriented Programming</button>
    </ul>
</div> -->

<ul>
    <ng-container *ngFor="let skill of skillList">
        <li id="button" class="navList"><button>{{ skill.skillName }}</button></li>
    </ng-container>
</ul>