.leftColumn {
    display: flex;
    justify-content: left;
    border: 1px solid black;
    padding-top: 30px;
    padding-left: 5px;
    height: 90vh;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightColumnRows {
    border: 1px solid black;
}

.skillSection {
    height: 60vh;
}

.categorySection {
    height: 30vh;
}

.column {
    padding: 0px 10px 0px 10px;
}

@media only screen and (max-width: 769px) {
    .column {
        padding: 0px 0px 0px 0px;
        height: auto;
    }
}

@media only screen and (min-width: 770px) {
    .rightColumnRows {
        min-height: 30vh;
    }
}

legend {
    font-size: 1.1rem;
    font-family: "Futura-Bold";
    color: #474C55;
    margin-left: 20px;
    padding: 5px;
}
