<div class="container m-5">
    <div class="columns box">
        <div class="column box leftColumn mb-0 is-6-desktop">
            <app-curriculum class="is-full" style="width:85%" [currentCurriculumList]="currentCurriculumList" (currentCurriculumId)="changeCurriculumEvent($event)"></app-curriculum>
        </div>
        <div class="column box rightColumn is-6-desktop">
            <div class="row box rightColumnRows">
                <app-skill [currentSkillList]="distinctSkillList" [activeSkillList]="currentSkillList" [currentCategoryList]="distinctCategoryList" [categoryColorList]="categoryColorList"></app-skill>
            </div>
            <div class="row box rightColumnRows">
                <app-category [currentCategoryList]="distinctCategoryList" [categoryColorList]="categoryColorList"></app-category>
            </div>
        </div>
    </div>
</div>