<div class="container box m-5">
    <div class="select" *ngIf="visualizations">
        <select [(ngModel)]="selected" (change)="changeVis($event)">
            <option [value]="0" disabled>Select a Visualization</option>
            <option *ngFor="let vis of visualizations" [value]="vis.visualizationId">
                {{vis.visualizationName}}
            </option>
        </select>
    </div>
</div>
<div class="container m-5">
    <div class="columns box">
        <div class="column box leftColumn mb-0 is-6-desktop">
            <app-curriculum class="is-full" style="width:85%" [currentCurriculumList]="currentCurriculumList" (currentCurriculumId)="changeCurriculumEvent($event)"></app-curriculum>
        </div>
        <div class="column box rightColumn is-6-desktop">
            <div class="row box rightColumnRows">
                <app-skill [currentSkillList]="distinctSkillList" [activeSkillList]="currentSkillList"></app-skill>
            </div>
            <div class="row box rightColumnRows">
                <app-category [currentCategoryList]="distinctCategoryList"></app-category>
            </div>
        </div>
    </div>
</div>