<app-navbar></app-navbar>





<fieldset class="container is-fluid containerflex borders">
    <legend>Visualization</legend>
    <div class="columns columnheight row ">
    
        <fieldset class="column borders boxcolumn is-6-desktop is-12-mobile">
            <legend>Visualization-Edit</legend>
            <ul >
                <li *ngFor="let vs of vList">
                    <input type="radio"  [value]="vs.visualizationId" name="visualizationlist" (change)="ToggleCheckBox($event, vs)" />
                   <label  class="vLabel" for="visualizationname"> {{ vs.visualizationName}}</label>
                </li>
                
                
            </ul>
        </fieldset>

        <fieldset class="column  borders boxcolumn is-6-desktop is-12-mobile">
            <legend>Curriculum</legend>
            <uL>

             
                <li *ngFor="let Curriculum of cList; let i = index">
                    <input type="checkbox" name="curriculumlist" id="{{Curriculum.curriculumId }}" (click)="ClickCheckBox( $event, Curriculum)"/>
                    <label class="cLabel">{{ Curriculum.curriculumName}}</label>

                </li>

            </uL>
        </fieldset>


    </div>

    <div class="row">
       
            <div class="editbottom">
                <button (click)="addVisualization()">New</button>
                <button (click)="updateVS()"> Update </button>
                <input  id="vsname" [(ngModel)]="nameInput" placeholder="name"/>
                <button>Remove</button>
                <button>View Visualization</button>
             </div>
    
           
    </div>
    
</fieldset>