<app-navbar></app-navbar>

<fieldset class="container is-fluid containerflex borders">
    <legend>Visualization</legend>
    <div class="columns columnheight row ">

        <!-- Visualization-EDIT-LIST -->
        <fieldset class="column borders boxcolumn is-6-desktop is-12-mobile">
            <legend>Visualization-Edit</legend>
            <ul class="listOfVisuals">
                <li *ngFor="let visualization of visualizationList; let i = index">
                    <label class="visualizationLabel" for="visualization_{{visualization.visualizationId}}">
                        <input type="radio" id="visualization_{{visualization.visualizationId}}" [value]="visualization"
                            name="visualizationList" [(ngModel)]="selectedVisualization"
                            (change)="displayVisualization()" />
                        {{ visualization.visualizationName }}
                    </label>
                </li>
            </ul>
        </fieldset>
        <!-- Visualization-EDIT-LIST -->

        <!-- Curriculum-SELECT-LIST -->
        <fieldset class="column borders boxcolumn is-6-desktop is-12-mobile">
            <legend id="CurriculumSelectText">Curriculum-Select</legend>
            <ul>
                <button class="button is-small btn-light-gray" (click)="resetCurriculumActive()">Clear
                    Selection</button>
                <li *ngFor="let curriculum of curriculumList; let i = index">
                    <label class="curriculumLabel" for="curriculum_{{curriculum.curriculumId}}">
                        <input type="checkbox" id="curriculum_{{curriculum.curriculumId}}" [value]="curriculum"
                            [checked]="curriculum.isActive" name="curriculumList"
                            (change)="toggleCurriculum(curriculum.curriculumId)" />
                        {{ curriculum.curriculumName }}
                    </label>
                </li>
            </ul>
        </fieldset>
        <!-- Curriculum-SELECT-LIST -->

    </div>
    <div class="columns row">

        <!-- Visualization-EDIT-BUTTONS -->
        <div class="column">
            <div class="editbottom">
                <div class="columns">
                    <div class="column">
                        <div class="buttons">
                            <div class="buttons">
                                <button id="addVisualizationButton" class="button is-small btn-add"
                                    [ngClass]="showAddVisualization? 'is-active' : ''"
                                    (click)="toggleAddVisualization()">Add Visualization</button>
                                <button id="updateVisualizationButton" class="button is-small btn-update"
                                    [ngClass]="showUpdateVisualization? 'is-active' : ''"
                                    (click)="toggleUpdateVisualization()">Update Visualization</button>
                                <button id="removeVisualizationButton" class="button is-small has-background-danger"
                                    (click)="deleteVisualization()">Remove Visualization</button>
                                <button id="viewVisualizationButton" class="button is-small btn-view"
                                    (click)="viewVisualization()">View Visualization</button>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <ng-container *ngIf="showVisualizationDeleteFail">
                            <p class="help has-text-danger">Please select a Visualization to delete.</p>
                        </ng-container>
                        <ng-container *ngIf="showViewVisualizationFail">
                            <p class="help has-text-danger">Please select a Visualization to view.</p>
                        </ng-container>
                        <ng-container *ngIf="showAddVisualization">
                            <input id="addVisualBox" class="input add-input mb-1" placeholder="Visualization Name"
                                [(ngModel)]="visualizationNameAdd" />
                            <p class="help add-visualization-help"
                                *ngIf="visualizationNameAdd == '' || visualizationNameAdd == null">Please select a Name
                                for this Visualization</p>
                            <p class="help add-visualization-help" *ngIf="selectedCurriculumList.length==0">Please
                                select a Curriculum for this Visualization</p>
                            <button id="visualizationSubmit" class="button is-small btn-add"
                                (click)="addVisualization()">Submit</button>
                        </ng-container>
                        <ng-container *ngIf="showUpdateVisualization">
                            <input id="updateVisualBox" class="input update-input mb-1" placeholder="Visualization Name"
                                [(ngModel)]="visualizationNameUpdate" />
                            <p class="help update-visualization-help" *ngIf="visualizationNameUpdate == null">Please
                                select a visualization for update</p>
                            <button id="visualizationUpdateButton" class="button is-small btn-update"
                                (click)="updateVisualization()">Update</button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <!-- Visualization-EDIT-BUTTONS -->

    </div>
</fieldset>
